<md-sidenav class="md-sidenav-left md-whiteframe-z2 side-navigation" md-component-id="left" md-is-locked-open="true">
    <md-content layout-padding >
        <md-list>
            <md-subheader>
                <md-icon md-svg-src="assets/img/person.svg"></md-icon>
                Անձնական
            </md-subheader>
            <md-list-item ng-repeat="item in ::vm.personal">
                <md-button href="" ng-click="vm.goTo(item.url)">
                    <md-icon md-svg-src="assets/img/{{ item.img }}.svg"></md-icon>
                    {{ item.label }}
                </md-button>
            </md-list-item>
            <md-subheader>
                <md-icon md-svg-src="assets/img/people.svg"></md-icon>
                Ընդհանուր
            </md-subheader>
            <md-list-item ng-repeat="item in ::vm.overall">
                <md-button href="">
                    <md-icon md-svg-src="assets/img/{{ item.img }}.svg"></md-icon>
                    {{ item.label }}
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>