@mixin transitions($property, $delay: 600ms){
  -webkit-transition: $property $delay;
  transition: $property $delay;
}

@media screen and (max-width: 960px) {
  .side-navigation {
    visibility: hidden !important;
    clear: both !important;
    display: none !important;
  }
}

magazine {
  margin-bottom: 40px !important;
}

body {
  background-color: #fafafa !important;
}

.social {
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}

.search-input {
  margin-bottom: 0;
  margin-top: 0;
}

.search-input-inside {
  height: 40px !important;
  border: none !important;
}

.in-article-link {
  text-decoration: none;
  color: black;
  img {
    width: 100%;
    //height: 350px;
    overflow: hidden;
  }
}

.fixed-header {
  position: fixed;
  top: 0px;
  background-color: white !important;
  .md-toolbar-tools {
    input[type=search] {
      float: right;
    }
    a {
      color: forestgreen;
      padding-right: 24px;
      @include transitions(color);
    }
    a:hover {
      color: green;
    }
  }
  background: #ffffff !important;
  border-bottom: {
    color: forestgreen !important;
    width: 2px !important;
  };
  height: 6%;

}

input[type=search] {
  @include transitions(max-width);
  padding: 5px;
  border-radius: 17px;
  border-width: 0px;
  max-height: 16px;
  align-self: center;
  float: right;
  max-width: 5px;
  cursor: pointer;
  outline: none;
  background-color: #fafafa !important;
  background: url("../assets/img/search.svg") no-repeat scroll 2px 2px;
  padding-left:30px;
  margin: {
    right: 10px;
  };
  font: {
    size: 16px;
    color: white;
  }
}

input[type=search]:focus {
  max-width: 180px;
  background-color: forestgreen;
  background: url("../assets/img/search-active.svg") no-repeat scroll 2px 2px;
  font: {
    color: #323232;
  }
}

.search-results {
  position: fixed;
  right: 16%;
  top: 66px;
  z-index: 10000;
  box-shadow: 3px 3px 3px 3px #b6b6b6 !important;
  //border: solid 1px black;
  border-top: none !important;
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
  background-color: #fafafa;
  md-toolbar {
    height: 7px !important;
  }
  .md-no-sticky {
    background-color: white !important;
    color: black !important;
    font-size: 16px;
    max-height: 35px !important;
    min-height: 35px !important;
    height: 35px !important;
    line-height: 6px;
  }
  md-divider {
    background-color: #999999;
    height: 1px;
    vertical-align: bottom;
  }
  .search-avatar {
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  .search-avatar {
    margin-right: 5px;
    margin-top: 3px;
  }

  //md-list-item {
  //  @include transitions(background-color)
  //}
  //md-list-item:hover {
  //  background-color: #4ea24e !important;
  //  cursor: pointer;
  //}
  .md-list-item-text {
    a {
      font-size: 16px;
      cursor: pointer;
      color: forestgreen;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  md-list-item, md-list-item .md-list-item-inner {
    min-height: 35px !important;
    max-height: 35px !important;
  }
}

.list-item {
  max-height: 5px !important;
  width: 180px;
}

.topics {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #fafafa !important;
  margin-bottom: 0 !important;
  md-chips {
    float: left;
    md-chip {
      line-height: 24px;
      padding-right: 3px;
      height: 32px;
      font-size: 15px;
      border-radius: 3px !important;
      background-color: #ffffff !important;
      border: 1px solid rgba(0,0,0,.15);
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: darkgreen !important;
      }
    }
  }

}

.forest-green {
  color: forestgreen !important;
}

//.crop {
//  height: 300px;
//  width: 1200px;
//  overflow: hidden;
//}

.sidebar-open {
  position: absolute;
  left: 1vw;
  top: 2.5vh;
}

//side-bar {
//  position: fixed;
//  top: 16%;
//  left: 5%;
//  z-index: 1000;
//}

.with-side-nav {
  float: right;
}

md-sidenav {
  md-toolbar {
    height: 8vh;
    background-color: forestgreen !important;
  }
}

.scrollable {
  overflow: scroll;
  height: 90vh;
}

.float-right {
  float: right !important;
}

.sticky-header {
  position: fixed;
  top: 0px;
}

md-progress-circular {
  overflow: hidden !important;
}

.articles {
  position: absolute;
  top: 8%;
  width: 100%;
  md-card-header{
    padding: 8px;
  }
  md-card {
    margin-bottom: 20px !important;
    box-shadow: 4px 4px 4px #b7b7b7;
    border-radius: 4px;
    md-card-title {
      padding-top: 2px;
      padding-bottom: 2px;
    }
    md-card-actions {
      margin: 0;
    }
  }
  a {
    cursor: pointer;
  }
  a.innerLink{
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
  }
  a.outerLink {
    color: forestgreen;
    text-decoration: none;
    font-size: 14px;
  }
  a.outerLink:hover {
    @include transitions(color);
    color: green;
  }

  .innerLink:hover{
    text-decoration: underline;
  }
}

.magazines {
  float: left;
  padding-top: 3%;
  padding-left: 2%;
  max-width: 90%;
  md-card {
    max-width: 50%;
  }
  a {
    cursor: pointer;
  }
  a.innerLink{
    color: inherit;
    text-decoration: none;
  }
  a.outerLink {
    color: forestgreen;
    text-decoration: none;
  }
  a.outerLink:hover, .innerLink:hover{
    text-decoration: underline;
  }
}

.side-navigation {
  position: fixed !important;
  top: 9%;
  box-shadow: 0px 0px 0px !important;
  width: 16%;
  max-height: 50%;
  left: 16%;
  background-color: #fafafa !important;
  md-content {
    background-color: inherit;
    padding: 0;
    md-list {
      padding: 0;
      md-list-item {
        padding-left: 4px;
        padding-right: 4px;
        md-icon {
          padding-right: 4px;
          padding-bottom: 4px;
        }
      }
    }
  }
  .md-button {
    height: 1vh;
    font-size: 12px !important;
  }

  md-icon {
    color: black !important;
  }
  md-subheader {
    background: #bababa;
    color: white !important;
    font-weight: bolder !important;
  }
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: forestgreen !important;
  background-color: forestgreen !important;
}

md-input-container.md-input-focused label {
  color: forestgreen !important;
}

.rightFloat {
  float: right !important;
}

md-dialog {
  md-content {
    .md-button {
      float: right;
      background: forestgreen;
      color: white;
    }
    md-icon {
      color: white;
    }
    .md-button:hover {
      background: green !important;
    }
  }
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: forestgreen !important;
}

md-dialog.loginDialog {
  md-toolbar {
    background: forestgreen;
  }
  md-tabs{
    md-tab-item.md-active{
      color: forestgreen;
    }
  }
}

.color-icon {
  color: forestgreen;
}

md-header {
  .under-header {
    background: forestgreen;
    height: 2px;
  }
}

//::-webkit-scrollbar {
//  display: none;
//}

.scrollable::-webkit-scrollbar {
  display: none;
}


#loading-bar .bar {
  background: forestgreen;
}

#loading-bar .peg {
  -moz-box-shadow: forestgreen 1px 0 6px 1px;
  -ms-box-shadow: forestgreen 1px 0 6px 1px;
  -webkit-box-shadow: forestgreen 1px 0 6px 1px;
  box-shadow: forestgreen 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  forestgreen;
  border-left-color: forestgreen;
}